/*colors and fonts */

body{
  background-color: #F3B3A6;
  color: #22031f;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align:center;
}
h1, h2{
  font-family: 'Playfair Display', serif;
}
h1{
  text-align: center;
  color: #37515f;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 40px;
}
h2{
  text-align: center;
  color: #6D2E46;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 24px;
}
a{
  text-decoration: none;
  font-style: italic;
  color: #37515F
}
a:hover{
  color: #C6E2E9;
}
.btn-blue{
  background-color: #37515f;
  color:white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover{
  background-color: #78a1bb;
  color: #C6E2E9;
}
#profilepicture-round{
  width:250px;
  border-radius: 50%;
   box-shadow: 0 15px 35px rgba(50, 50, 93, .2)
}
.card-lightblue{
  width: 800px;
  margin:30px auto;
  background: #f1fffa;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .2)
}
.card-white{
  width: 800px;
  margin:30px auto;
  background:white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .2)
}
.images-round-size{
  border-radius:50%;
  width:120px;
  height: 120px;
}
@media (max-width: 700px){
  .card-lightblue{
    width: 600px;
  }
}
@media (max-width: 700px){
  .card-white{
    width: 600px;
  }
}
@media (max-width: 500px){
  .card-lightblue{
    width: 400px;
  }
}
@media (max-width: 500px){
  .card-white{
    width: 400px;
  }
}
.list-inline{
  list-style: none;
  text-align: center;
}
.list-inline li{
  display: inline;
  padding: 10px;
}
.list-inline i{
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover{
  color: rgb(100, 100, 100);
}
#introduction p{
  margin-bottom: 40px;
}
